#app {
  height: 100%;
}
.layout-content {
  padding: 20px;
  background: #ffffff;
}
.layout-top-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  padding: 0 20px;
}
.layout-top-header .anticon {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
}
.full-container {
  height: 100%;
}
.login-form {
  width: 300px;
  margin: 100px auto;
}
.login-form .anticon {
  font-size: 14px;
}
.login-form-button {
  width: 100%;
}
.login-header {
  color: white;
  background: seagreen;
  height: 88px;
  line-height: 88px;
}
.login-header h1 {
  color: white;
  text-align: center;
}

.profile p {
  line-height: 22px;
  font-size: 16px;
}